{% extends "base.html" %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block extra_head %}
    {% include '_head.html' %} {# Inclui o parcial para meta tags e estilos adicionais #}
{% endblock extra_head %}

{% block header %}
    {% include '_header.html' %} {# Inclui o parcial para o cabeçalho #}
{% endblock header %}

{% block content %}
    <div class="container form-container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm rounded-lg">
                    <div class="card-body">
                        <h2 class="text-center text-primary mb-4">{% trans "Password Reset" %}</h2>

                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

                        <form method="post" action="{% url 'account_reset_password' %}">
                            {% csrf_token %}
                            {{ redirect_field }}

                            <!-- Campos do formulário -->
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="text-danger">{{ form.email.errors|join:" " }}</div>
                                {% endif %}
                            </div>

                            <!-- Botão para resetar a senha -->
                            <button type="submit" class="btn btn-dark btn-block mt-3">{% trans "Reset My Password" %}</button>

                            <!-- Link para recuperar senha -->
                            <div class="text-center mt-3">
                                <a href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
                            </div>
                        </form>

                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include '_footer.html' %} {# Inclui o parcial para o rodapé #}
{% endblock footer %}

{% block extra_body %}
    <script>
        // Insira aqui scripts adicionais para esta página, se necessário
    </script>
{% endblock extra_body %}
