{% extends "base.html" %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block extra_head %}
    {% include '_head.html' %} {# Inclui o parcial para meta tags e estilos adicionais #}
{% endblock extra_head %}

{% block header %}
    {% include '_header.html' %} {# Inclui o parcial para o cabeçalho #}
{% endblock header %}

{% block content %}
    <div class="container form-container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm rounded-lg">
                    <div class="card-body">
                        <h2 class="text-center text-primary mb-4">{% trans "Password Reset" %}</h2>

                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p class="text-center">{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

                        <!-- Botão para voltar ao login -->
                        <div class="text-center mt-4">
                            <a href="{% url 'account_login' %}" class="btn btn-dark">{% trans "Back to Login" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include '_footer.html' %} {# Inclui o parcial para o rodapé #}
{% endblock footer %}

{% block extra_body %}
    <script>
        // Insira aqui scripts adicionais para esta página, se necessário
    </script>
{% endblock extra_body %}
