<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
{% include '_head.html' %}
<body>
    {% include '_header.html' %}
    <div class="container form-container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center mb-4 text-primario">Cadastro</h2>
                <form id="signup-form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    
                    <!-- Seção: Informações Pessoais -->
                    <div class="form-section mb-4 p-4 rounded bg-light shadow-sm">
                        <h4 class="text-primario mb-3">Informações Pessoais</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                    <small class="text-danger">{{ form.first_name.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                    <small class="text-danger">{{ form.last_name.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                    <small class="text-danger">{{ form.email.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.telefone_celular.label_tag }}
                                    {{ form.telefone_celular }}
                                    <small class="text-danger">{{ form.telefone_celular.errors }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.telefone_comercial.label_tag }}
                                    {{ form.telefone_comercial }}
                                    <small class="text-danger">{{ form.telefone_comercial.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.tipo_cadastro.label_tag }}
                                    {{ form.tipo_cadastro }}
                                    <small class="text-danger">{{ form.tipo_cadastro.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.cpf_cnpj.label_tag }}
                                    {{ form.cpf_cnpj }}
                                    <small class="text-danger">{{ form.cpf_cnpj.errors }}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Seção: Endereço -->
                    <div class="form-section mb-4 p-4 rounded bg-light shadow-sm">
                        <h4 class="text-primario mb-3">Endereço</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.cep.label_tag }}
                                    <div class="input-group">
                                        {{ form.cep }}
                                        <button type="button" id="id_btn_search_cep" class="btn-primario btn-info">Buscar</button>
                                    </div>
                                    <small class="text-danger">{{ form.cep.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.logradouro.label_tag }}
                                    {{ form.logradouro }}
                                    <small class="text-danger">{{ form.logradouro.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.numero.label_tag }}
                                    {{ form.numero }}
                                    <small class="text-danger">{{ form.numero.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.bairro.label_tag }}
                                    {{ form.bairro }}
                                    <small class="text-danger">{{ form.bairro.errors }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.complemento.label_tag }}
                                    {{ form.complemento }}
                                    <small class="text-danger">{{ form.complemento.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.cidade.label_tag }}
                                    {{ form.cidade }}
                                    <small class="text-danger">{{ form.cidade.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.estado.label_tag }}
                                    {{ form.estado }}
                                    <small class="text-danger">{{ form.estado.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.pais.label_tag }}
                                    {{ form.pais }}
                                    <small class="text-danger">{{ form.pais.errors }}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Seção: Informações da Conta -->
                    <div class="form-section mb-4 p-4 rounded bg-light shadow-sm">
                        <h4 class="text-primario mb-3">Informações da Conta</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                    <small class="text-danger">{{ form.username.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.password1.label_tag }}
                                    {{ form.password1 }}
                                    <small class="text-danger">{{ form.password1.errors }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.password2.label_tag }}
                                    {{ form.password2 }}
                                    <small class="text-danger">{{ form.password2.errors }}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botão de Envio -->
                    <button type="submit" class="btn-primario  btn-block mt-4 py-2">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    {% include '_footer.html' %}

    <!-- Scripts para mascaramento e validações -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function() {
            // Máscara para telefone celular
            $('#id_telefone_celular').mask('(00) 00000-0000');

            // Máscara para telefone comercial
            $('#id_telefone_comercial').mask('(00) 0000-0000');

            // Máscara para CEP
            $('#id_cep').mask('00000-000');

            // Máscara de CPF/CNPJ
            $('#id_cpf_cnpj').on('input', function() {
                var val = $(this).val().replace(/\D/g, ''); // Remove caracteres não numéricos

                // Definir a máscara baseada na seleção de tipo de cadastro
                var tipoCadastro = $('input[name="tipo_cadastro"]:checked').val();
                if (tipoCadastro === 'PF') {
                    $(this).mask('000.000.000-00', { reverse: true });
                } else if (tipoCadastro === 'PJ') {
                    $(this).mask('00.000.000/0000-00', { reverse: true });
                }
            });

            // Ação para buscar o endereço via CEP
            $('#id_btn_search_cep').click(function() {
                var cep = $('#id_cep').val().replace('-', ''); // Remove o traço do CEP
                if (cep.length === 8) {  // Verifica se o CEP tem 8 dígitos
                    $.getJSON(`https://viacep.com.br/ws/${cep}/json/`, function(data) {
                        if (data.erro) {
                            alert('CEP não encontrado');
                        } else {
                            $('#id_logradouro').val(data.logradouro);
                            $('#id_bairro').val(data.bairro);
                            $('#id_cidade').val(data.localidade);
                            $('#id_estado').val(data.uf);
                        }
                    }).fail(function() {
                        alert('Erro ao consultar o CEP. Tente novamente.');
                    });
                } else {
                    alert('CEP inválido!');
                }
            });

            // Atualizar máscara de CPF/CNPJ ao alterar o tipo de cadastro
            $('input[name="tipo_cadastro"]').change(function() {
                $('#id_cpf_cnpj').trigger('input'); // Reaplicar a máscara
            });
        });
    </script>
</body>
</html>
