<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include '_head.html' %}
<body>
    {% include '_header.html' %}
    <div class="container form-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center">Sign Up</h2>
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
    {% include '_footer.html' %}
</body>
</html>
