/* custom_admin.css */
.main-sidebar.sidebar-dark-gray {
    background-color: #ef1010; /* Cinza escuro */
    color: #ffffff; /* Texto branco */
}

.main-sidebar.sidebar-dark-gray .user-panel > .image img {
    border: 2px solid #ffffff; /* Borda branca ao redor da imagem */
}

.main-sidebar.sidebar-dark-gray .user-panel .info p,
.main-sidebar.sidebar-dark-gray .user-panel .info a {
    color: #ffffff; /* Texto branco */
}

.main-sidebar.sidebar-dark-gray .sidebar-menu > li > a {
    color: #c2c7d0; /* Cor dos links */
}

.main-sidebar.sidebar-dark-gray .sidebar-menu > li > a:hover {
    background: #1c1e21; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Texto branco */
}

.main-sidebar.sidebar-dark-gray .treeview-menu > li > a {
    color: #b8c7ce; /* Cor dos sublinks */
}

.main-sidebar.sidebar-dark-gray .treeview-menu > li > a:hover {
    background: #1c1e21; /* Cor de fundo ao passar o mouse nos sublinks */
    color: #ffffff; /* Texto branco */
}

.content-wrapper {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
 /* Estilos para a página de edição */
body.app-{{ opts.app_label }}.model-{{ opts.model_name }}.change-form {
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  font-size: 0.875rem; /* Fonte menor */
}

.container {
  padding: 20px;
}

.section {
  margin-bottom: 30px;
}

.section h4 {
  font-size: 1.125rem;
  margin-bottom: 15px;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
}

.errornote {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.breadcrumbs {
  font-size: 1rem;
  margin-bottom: 20px;
}

.breadcrumbs a {
  text-decoration: none;
}

.btn-primary {
  background-color: #343a40; /* Cinza escuro */
  border-color: #343a40;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.btn-primary:hover {
  background-color: #495057;
  border-color: #495057;
}

.btn-secondary {
  background-color: #6c757d; /* Cinza */
  border-color: #6c757d;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}

.ml-2 {
  margin-left: 0.5rem;
}

input[readonly] {
  background-color: #e9ecef;
  border-color: #ced4da;
  cursor: not-allowed;
}

/* styles app_index */

.breadcrumb-container {
  border: 1px solid #dee2e6;
}

.breadcrumb-link {
  font-weight: bold;
  color: #007bff;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin: 0 5px;
  color: #6c757d;
}

.app-title {
  font-size: 1.75rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border: 1px solid #dee2e6;
}

.model-link {
  font-size: 1rem;
  color: #343a40;
}

.model-link:hover {
  color: #007bff;
}

.badge {
  font-size: 0.9rem;
  padding: 0.5em 0.75em;
}

/* Estilo para tabelas */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.table .error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
}

.field-label {
  font-weight: bold;
}

.change-link, .view-link {
  text-decoration: none;
  color: #007bff;
}

.change-link:hover, .view-link:hover {
  text-decoration: underline;
}

.readonly-field {
  color: #6c757d;
}

.field-errors {
  color: red;
  font-size: 0.9em;
}

.collapsible-formset {
  margin-top: 15px;
}

.collapsible-summary {
  cursor: pointer;
  font-weight: bold;
}

.collapsible-summary:hover {
  text-decoration: underline;
}
