<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
{% include '_head.html' %}

<body>
    {% include '_header.html' %}

    <div class="container mt-5">
        <h2 class="h3">Editar Perfil</h2>

        <form method="POST" action="{% url 'account_edit_profile' %}">
            {% csrf_token %}
            
            <!-- Formulário para edição de informações do usuário (nome) -->
            <div class="form-group">
                <label for="first_name">Primeiro Nome</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user_form.instance.first_name }}" required>
            </div>
            <div class="form-group">
                <label for="last_name">Sobrenome</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user_form.instance.last_name }}" required>
            </div>

            <!-- Formulário para edição das informações do perfil -->
            <div class="form-group">
                <label for="telefone_celular">Telefone Celular</label>
                <input type="text" class="form-control" id="telefone_celular" name="telefone_celular" value="{{ profile_form.instance.telefone_celular }}">
            </div>
            <div class="form-group">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep" value="{{ profile_form.instance.cep }}">
            </div>
            <!-- Adicione mais campos de edição conforme necessário -->

            <button type="submit" class="btn btn-dark">Salvar Alterações</button>
        </form>
    </div>

    {% include '_footer.html' %}
</body>
</html>
