<!DOCTYPE html>
<html lang="pt-br">
{% load static %} 
{% include '_head.html' %}

<body>
    {% include '_header.html' %}
    
    <div class="container mt-5">
        <div class="row">
            <!-- Menu Lateral -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'account_change_password' %}" class="list-group-item list-group-item-action">
                        Alterar Senha
                    </a>
                    <a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">
                        Alterar E-mail
                    </a>
                    <a href="{% url 'account_profile_details' %}" class="list-group-item list-group-item-action active">
                        Informações do Cadastro
                    </a>
                    <a href="{% url 'account_edit_profile' %}" class="list-group-item list-group-item-action">
                        Editar Perfil
                    </a>
                </div>
            </div>

            <!-- Seção de Perfil -->
            <div class="col-md-9">
                <!-- Seção de Introdução -->
                <div class="row align-items-center main-section full-width">
                    <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                        <span class="d-block text-secondary">Bem-vindo ao seu perfil</span>
                        <h1 class="display-4">Olá, {{ user.username }}!</h1>
                        <p class="lead">Aqui você pode visualizar suas informações e ajustar suas preferências.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'pages/img/pexels-photo-5668473.jpeg' %}" alt="Perfil" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '_footer.html' %}
</body>
</html>
