<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include '_head.html' %}
<body>
    {% include '_header.html' %}
    {% load index_filters %}

    <!-- Carrossel de Banners -->
    <div id="mainCarousel" class="carousel slide mb-5" data-bs-ride="carousel" data-bs-interval="5000" style="max-height: 400px; overflow: hidden;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'pages/img/banner1.jpg' %}" class="d-block w-100" alt="Primeiro Banner" style="object-fit: cover;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Bem-vindo aos Leilões Inovadores</h5>
                    <p>Descubra oportunidades únicas em nosso marketplace.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'pages/img/banner2.jpg' %}" class="d-block w-100" alt="Segundo Banner" style="object-fit: cover;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Leilões Exclusivos</h5>
                    <p>Arte, antiguidades e muito mais em um só lugar.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'pages/img/banner3.jpg' %}" class="d-block w-100" alt="Terceiro Banner" style="object-fit: cover;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Participe Agora</h5>
                    <p>Não perca os leilões ao vivo mais emocionantes.</p>
                </div>
            </div>
        </div>
        <!-- Botões de Navegação -->
        <button class="carousel-control-prev custom-arrow" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next custom-arrow" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <div class="container mt-5">
        <!-- Seção de Introdução -->
        <div class="row align-items-center main-section full-width">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                <span class="d-block text-secondary">Leilões Inovadores</span>
                <h1 class="display-4">Descubra Oportunidades Únicas em Leilões Ao Vivo</h1>
                <p class="lead">Participe de leilões emocionantes com segurança e transparência.</p>
                <a href="#" class="btn btn-outline-secondary btn-lg">Participe Agora</a>
            </div>
            <div class="col-md-6">
                <img src="{% static 'pages/img/pexels-photo-5668473.jpeg' %}" alt="Leilões" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- Seção de Itens em Destaque -->
    <div class="central-section mb-5">
        <div class="container">
            <!-- Loop para as categorias de itens em destaque -->
            {% for categoria, itens in itens_destacados.items %}
                <h2 class="text-center mb-4">{{ categoria|replace_underscore }} em Destaque</h2>
                <div class="row">
                    {% if itens %}
                        {% for item in itens %}
                            <div class="col-12 col-md-4 mb-4">
                                <div class="card">
                                    <img src="{{ item.thumbnail.url }}" alt="{{ item.nome }}" class="card-img-top" style="height: 250px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.nome }}</h5>
                                        <p class="card-text">{{ item.descricao }}</p>
                                        <p>Valor avaliado: <strong>R$ {{ item.valor_avaliado }}</strong></p>
                                        <p>Status: {{ item.get_status_lote_display }}</p>
                                        <p>Data: {{ item.leilao.date_time|date:"d/m/Y" }}</p>
                                        <a href="{% url 'pages:item_details' item.leilao.codigo_leilao item.codigo_item %}" class="btn btn-secundario">Ver mais</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">Não há itens em destaque nesta categoria.</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include '_footer.html' %}
</body>
</html>
