{% load adminlte_helpers %}
{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {% include "admin/partials/_logo.html" %}
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% avatar_url size=90 %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Navegação Principal -->
                <li class="nav-header">Gerenciamento Gama</li>
                
                <!-- Submenu Clientes -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Clientes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin:user_management_arrematante_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Arrematantes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:user_management_documento_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Documentos</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Leilões -->
                <li class="nav-item">
                    <a href="{% url 'admin:auction_management_auction_changelist' %}" class="nav-link">
                        <i class="nav-icon fas fa-gavel"></i>
                        <p>Leilões</p>
                    </a>
                </li>

                <!-- Submenu Itens -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>
                            Itens
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin:auction_management_vehicle_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Veículos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:auction_management_realestate_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Imóveis</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:auction_management_ruralitem_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rural</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:auction_management_othergoods_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Outros Bens</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Submenu Financeiro -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-money-check-alt"></i>
                        <p>
                            Financeiro
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin:payment_bid_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lances</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:payment_payment_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pagamentos</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Submenu Marketing -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Marketing
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Banners</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Emails</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Páginas</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Submenu Relatórios -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Relatórios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Resumo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Financeiro</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Itens</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Submenu Configurações -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Configurações
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin:categories_auctioncategory_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Categorias</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:auction_management_itemtype_changelist' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tipos de Itens</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Usuários -->
                <li class="nav-item">
                    <a href="{% url 'admin:auth_user_changelist' %}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Usuários</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>