<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

{% include '_head.html' %}

<body>
    {% include '_header.html' %}
    
    <div class="container mt-5">
        <!-- Seção de Introdução -->
        <div class="row align-items-center main-section full-width">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                <span class="d-block text-secondary">Leilão de Bens Rurais</span>
                <h1 class="display-4">Bens Rurais Disponíveis para Leilão</h1>
                <p class="lead">Confira as propriedades rurais que estão sendo leiloadas e suas características detalhadas.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'pages/img/pexels-photo-5668473.jpeg' %}" alt="Bens Rurais" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- Lista de Bens Rurais -->
    <div class="container mt-5">
        <h2 class="h3">Bens Rurais em Leilão</h2>
        <div class="row">
            {% for bem_rural in rural %} <!-- Alteração aqui: de bens_rurais para rural -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ bem_rural.thumbnail.url }}" alt="{{ bem_rural.nome }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ bem_rural.nome }}</h5>
                        <p class="card-text">Tipo de item: {{ bem_rural.tipo_item }} </p>
                        <p class="card-text">Descrição: {{ bem_rural.descricao }}</p>
                        <p class="card-text">Preço estimado: R$ {{ bem_rural.valor_avaliado|floatformat:2 }}</p>
                        <a href="{% url 'pages:item_details' bem_rural.leilao.codigo_leilao bem_rural.codigo_item %}" class="btn btn-secondary btn-block">Ver Detalhes</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">Nenhum bem rural disponível no momento.</p>
            {% endfor %}
        </div>
    </div>

    {% include '_footer.html' %}
</body>
</html>
