body {
    background-color: #fff;
}

/* Estilizando o dropdown */
.navbar .dropdown-menu {
    display: none;
    background-color: #f8f8f8;
    border: none;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.navbar .dropdown-menu a:hover {
    background-color: #e0e0e0;
}

.navbar-nav .nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0;
}

.navbar-brand img {
    margin-left: 75px;
    height: 70px;
}

.search-bar {
    margin: auto;
    flex-grow: 1;
    max-width: 600px;
}

.search-nav {
    width: 70% !important;
}

.form-container {
    margin-top: 10px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: white; /* Sublinhado branco */
    color: inherit; /* Mantém a cor original */
}

.navbar {
    padding: 1rem;
}

.search-bar input {
    width: 70%;
}

.btn-outline-secondary {
    border-color: #343a40;
    color: #343a40;
}

.btn-outline-secondary:hover {
    background-color: #343a40;
    color: white;
}

.btn-secondary {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.display-4 {
    font-weight: 700;
    color: #343a40;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 0 #00000070;
    border-top-left-radius: 80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.central-section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.central-section .card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.central-section .card-img-top {
    height: 200px;
    object-fit: cover;
}

.central-section .card-body {
    padding: 20px;
}

.central-section .card-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.central-section .card-text {
    font-size: 1rem;
    color: #6c757d;
}

#links {
    background-color: #343a40;
    color: #fff;
}

/* Estilos do Footer */
.footer {
    background-color: #343a40; /* Fundo cinza escuro */
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

.footer p {
    font-size: 1rem;
    color: #b1b1b1;
}

.footer .text-center {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 0; /* Adiciona padding para melhorar o espaçamento */
}

/* Estilos da página de cadastro */
body.signup-page {
    background-color: #f4f4f4;
}

.signup-page .form-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-page h2 {
    color: #333;
}

.signup-page .form-group {
    margin-bottom: 15px;
}

.signup-page label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-page input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-page .btn-block {
    padding: 10px;
    background-color: #343a40; /* Cor cinza escuro */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.signup-page .btn-block:hover {
    background-color: #5a6268;
}

.carousel {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

.carousel img {
    object-fit: cover;
    height: 400px;
}

.custom-arrow {
    position: absolute;
    top: 10%; /* Posiciona os botões acima das imagens */
    z-index: 10;
    background: none; /* Remove o fundo padrão */
    border: none; /* Remove bordas */
    color: gray; /* Cor das setas */
    font-size: 2rem; /* Tamanho das setas */
    width: auto; /* Ajusta o tamanho */
    height: auto; /* Ajusta o tamanho */
    cursor: pointer; /* Adiciona cursor de interação */
}

.custom-arrow .carousel-control-prev-icon,
.custom-arrow .carousel-control-next-icon {
    background-color: gray; /* Cor cinza para as setas */
    border-radius: 50%; /* Deixa as setas circulares */
    width: 50px; /* Tamanho das setas */
    height: 50px; /* Tamanho das setas */
    opacity: 0.8; /* Torna um pouco translúcido */
}

.custom-arrow:hover .carousel-control-prev-icon,
.custom-arrow:hover .carousel-control-next-icon {
    opacity: 1; /* Destaque ao passar o mouse */
}

.form-group input[type="radio"] {
    margin-right: 10px;
}