/* Estilos da página de cadastro */
body.signup-page {
    background-color: #f4f4f4;
}

.signup-page .form-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-page h2 {
    color: #333;
}

.signup-page .form-group {
    margin-bottom: 15px;
}

.signup-page label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-page input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-page .btn-block {
    padding: 10px;
    background-color: #343a40; /* Cor cinza escuro */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.signup-page .btn-block:hover {
    background-color: #5a6268;
}

.carousel {
    position: relative;
    max-height: 600px;
    overflow: hidden;
}

.carousel img {
    object-fit: cover;
    height: 350px;
}

.custom-arrow {
    position: absolute;
    top: 10%; /* Posiciona os botões acima das imagens */
    z-index: 10;
    background: none; /* Remove o fundo padrão */
    border: none; /* Remove bordas */
    color: gray; /* Cor das setas */
    font-size: 2rem; /* Tamanho das setas */
    width: auto; /* Ajusta o tamanho */
    height: auto; /* Ajusta o tamanho */
    cursor: pointer; /* Adiciona cursor de interação */
}

.custom-arrow .carousel-control-prev-icon,
.custom-arrow .carousel-control-next-icon {
    background-color: gray; /* Cor cinza para as setas */
    border-radius: 50%; /* Deixa as setas circulares */
    width: 50px; /* Tamanho das setas */
    height: 50px; /* Tamanho das setas */
    opacity: 0.8; /* Torna um pouco translúcido */
}

.custom-arrow:hover .carousel-control-prev-icon,
.custom-arrow:hover .carousel-control-next-icon {
    opacity: 1; /* Destaque ao passar o mouse */
}

.form-group input[type="radio"] {
    margin-right: 10px;
}